# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MavenProject\oneGit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
